{% extends "base_generic.html" %}

{% block content %}
    <h1>Authors List</h1>

    {% if author_list %}
    <ul>

      {% for author in author_list %}
      <li {% if perms.catalog.can_mark_returned %}style="padding: 0.53em" {% endif %}>
        <a href="{{ author.get_absolute_url }}">{{ author.last_name }},{{author.first_name}}</a>
          {% if perms.catalog.can_mark_returned %}
            <!--form action="" method="post">
                <div class="btn-block" style="display: inline; aling: right">
                    <input type="submit" value="Edit" class="btn btn-warning" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    This is working - remember to delete this line
                </div>
            </form-->
          {% endif %}
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no authors in the library.</p>
    {% endif %}
        {% if perms.catalog.can_mark_returned %}
        <form action="{% url 'author-create' %}" method="get">
            {% csrf_token %}
            <a class="btn btn-primary" href="{% url 'author-create' %}">Include a new Author</a>
        </form>
        {% endif %}
        <!--a class="btn btn-primary" href="{% url 'author-create' %}">Include a new Author</a-->




{% endblock %}